img { 
    width: 200px;
}

.list { 
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: -50px;
    transform-style: preserve-3d;
    transform: perspective(1000px);
}

.list .card{ 
    transition: .5s;
    filter: brightness(0.1);
}

.list .card:hover { 
    filter: brightness(1);
    transform:  translateZ(60px);
}

.list .card:hover + .card{ 
    filter: brightness(.6);
    transform:  translateZ(10px) rotateY(7deg);
}

.list .card:has(+ *:hover) {
    filter: brightness(.6);
    transform:  translateZ(1    0px) rotateY(-7deg);
}