#gameboard {
    display: grid;
    grid-template-columns: 4rem 4rem 4rem 4rem 4rem;
    grid-template-rows: 4rem 4rem 4rem 4rem 4rem;
}

.peice {
    border: 1px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
}