:root{
    --main-dark-color: #0a0908;
    --secondary-dark-color: #22333b;
    --ternary-dark-color: #eae0d5;
    --mobile-break-point: 600;
}
body{ 
    background: var(--main-dark-color);
    color: var(--ternary-dark-color)
}
.nav-desktop ul, li {
    list-style: none;
}
.nav-desktop {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.nav-desktop ul{ 
    font-family: 'Source Code Pro', monospace;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    color: var(--ternary-dark-color);
    cursor: pointer;
    margin-right: 500px;
}
.nav-desktop ul li:hover {
   color: #3fa5d3;
}

.number{ 
    float: right;
    font-size: .7rem;
}

.title {
    color: #3fa5d3;
    font-family: 'Source Code Pro', monospace;
    font-size: 1.4rem;
}    

.title::after {
    color: var(--ternary-dark-color);
    content: '._';
}   
.nav-mobile {
    display: none;
}

@media only screen and (max-width: 600px) {
.nav-desktop {
    display: none;
}
.menu  {
    position: absolute;
    background: var(--secondary-dark-color);
}
.nav-mobile {

    display: flex;
}
}