:root {
    --main-bg-color: #222831;
    --main-secondary-color: #393e46;
    --main-accent-color: #00adb5;
    --main-text-color: #eeeeee;
    --main-text-muted-color: #9c9c9c;
}

.circle {
    width: 400px;
    height: 400px;
    border-radius: 50%;
}

.bg-primary-color {
    background-color: var(--main-bg-color);
}

.bg-secondary-color {
    background-color: var(--main-secondary-color);
}

.bg-accent-color {
    background-color: var(--main-accent-color);
}

.bg-text-accent {
    background-color: var(--main-accent-color);
}

.main-text-color {
    color: var(--main-text-color);
}

.font-header {
    font-size: 7rem;
}

.text-accent {
    color: var(--main-accent-color);
}

.muted-text {
    color: var(--main-text-muted-color);
}

.par-style {
    font-size: 1.3rem;
    padding: 40px;
}

.par-style::first-letter{
    font-size: 250%;
}

.text-color-dark {
    color: var(--main-secondary-color);
}

.li-item {
    list-style-type: none;
    font-size: 1.5rem;
    margin-top: 50px;
}

.li-item:hover {
    -moz-transform: translate(0px, -5px);
    -webkit-transform: translate(0px, -5px);
    -o-transform: translate(0px, -5px);
    -ms-transform: translate(0px, -5px);
    transform: translate(0px, -5px);
    transform: translate(0px, -5px);
    transition-duration: .35s;
    text-shadow: var(--main-accent-color) 1px 0 px;
}

.shadow-box {
    box-shadow: 16px 16px var(--main-secondary-color);
}

.card {
    margin: 5px;
    width: 20rem;
    height: 25rem;
    margin-top: 10px;
}