body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #293241;
    color: white;
}
.passcode {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.fontRed {
    color: #d92d2d;
    transition: color .2s ease-in-out;
}

button {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    align-items: center;
    font-size: 20px;
    background: transparent;
    color: white;
    border: 1px solid #98c1d9;
}

button:active {
  background-color: #98c1d9;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


.input {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    padding-bottom: 3rem;
}

.row {
    display: flex;
    align-items: center;
    gap: 10px;
}

.displayNone{
    display: none;
}

.licence {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
    word-spacing: 10px;
}