body, html { 
    margin: 0;
    padding: 0;
    border: 0;
}
header { 
    font-family: 'Playfair Display', serif;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 140px;
}
header ul { 
    cursor: pointer;
    display: flex;
    gap: 45px;
    list-style: none;
}
header .active { 
    border-bottom: 1px solid black;
}
header li:hover { 
    border-bottom: 1px solid rgb(200, 194, 194);
}
.mobileMenu { 
    display: none;
}


main { 
    display: flex;
    justify-content: center;
}
main img { 
    object-fit: cover;
    object-position: 0px -362px;;
    width: 100vw;
    height: 520px;

}


@media (max-width: 890px) {
    body { 
        overflow-y: hidden;
    }
    .header { 
        width: 80vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .header span {
        font-size: 2rem;
    }

    .mobileMenu { 
        display: unset;
    }

    main img { 
        object-position: 0px -62px;;
        height: 520px;
    }

    ul { 
        display: flex;
        flex-direction: column;
        background: white;
        width: 80vw;
        height: 100vh;
    }
    .nav { 
        position: absolute;
        border: 1ox solid black;
        top: 100px;
        left: 100vw;
        transition: left .3s ease-in-out;
    } 
    .open { 
        left: 10vw;
    }
  }