:root {
    --primary: #00b4d8;
    --secondary: #bde0fe;
    --ternary: #3a0ca3;
}
img {
    width: 200px;
}
h3 {
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: 300;
    font-family: 'Quicksilver', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1 {
    font-size: 5rem;
    color: var(--primary)
}
body { 
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    border-radius: 10px;
    margin: 10px;
    max-width: 60rem;
    background-color: var(--secondary);
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
    text-align: center;
}
.card {
    padding: 10px 30px ;
}

.calendar {
    font-family: 'Quicksand';
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: white;
    padding: 20px 40px;
}
.event {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    max-width: 37rem;
}
.event h2 {
    font-size: 2.1rem;
    color: var(--ternary);
    margin: 10px;
}
.event h3 {
    color: white;
    background: var(--primary);
    padding: 10px 15px;
    border-radius: 50px;
    margin: 5px;
}
.event p {
    font-size: 1.3rem;
}

.get-involved {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Quicksand';
    padding: 30px 10px;
}
.form {
    display: flex;
    flex-direction: column;
}
.form-entry{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.get-involved h1 {
    font-size: 3rem;
}
.get-involved p {
    font-size: 1.4rem;
}
.flex {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 25px;
}

input {
    padding: 10px;
}

input, textarea {
    border: 2px solid var(--primary);
    border-radius: 5px;
}

label {
    font-size: 1.2rem;
}
span {
    color: red;
}

button {
    margin: 30px;
    padding: 20px;
    color: white;
    border: none;
    background: var(--primary);
    border-radius: 50px;
    font-family: 'Quicksand';
    font-size: 1.3rem;
}


@media (min-width: 768px) {
    .content {
        padding: 10px 30px;
        width: 100% !important;
    }
    .form-entry{
        width: 100%;
    }
    .main{
        margin: 5px;
    }
    .header {
        flex-direction: row;
    }
    .form {
        flex-direction: row;
    }

}